<div class="row">
  <div class="small-5 columns">
    <h3>Models</h3>
    <table class="full-width">
      <thead>
      <tr>
        <th>name</th>
      </tr>
      </thead>
      <tbody>
      {{#each}}
        <tr>
          <td>
            {{#link-to 'admin.model.model' this}}
              {{this}}
            {{/link-to}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>

  <div class="small-7 columns">
    {{outlet model}}
  </div>

</div>
<div class="row">
  <div class="small-12 columns">
    {{outlet records}}
  </div>
</div>
