<h3>Records for {{modelName}}</h3>
<table class="full-width">
  <thead>
  <tr>
    {{#each attributes itemController='admin/model/model-attribute'}}
      <th>{{key}}
        <small>({{type}})</small>
      </th>
    {{/each}}
  </tr>
  </thead>

  <tbody>
  {{#each}}
    <tr>
      {{each attributes itemController='admin/model/record-field' itemView='admin/model/record-field'}}
    </tr>
  {{/each}}
  </tbody>
</table>
