<h3>Records <code>{{id}}</code> ({{modelName}})</h3>
<table class="full-width">
  <thead>
  <tr>
    <th width="200">Attribute</th>
    <th>Value</th>
  </tr>
  </thead>

  <tbody>
  {{#each attributes itemController='admin/model/record-field'}}
    <tr>
      <th>
        {{key}}
      </th>
      {{view 'admin/model/record-field'}}
    </tr>
  {{/each}}
  </tbody>
</table>
