<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    {{render 'topbar'}}

    {{render 'off-canvas-left'}}

    {{!render 'off-canvas-right'}}

    <section class="main-section">
      {{outlet}}
    </section>

    <a class="exit-off-canvas"></a>

  </div>
</div>
