<nav class="top-bar" data-topbar role="navigation">

  <ul class="title-area">
    <li class="name">
      <h1><a href="#">{{app.name}}</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li>
        <a href="/auth/facebook" title="Login with Facebook">
          <i class="fi-social-facebook"></i>
        </a>
      </li>
      <li>
        <a href="/auth/twitter" title="Login with Twitter">
          <i class="fi-social-twitter"></i>
        </a>
      </li>
      <li>
        <a href="/auth/google" title="Login with Google+">
          <i class="fi-social-google-plus"></i>
        </a>
      </li>
      <li>
        <a href="/auth/facebook" title="Login with GitHub">
          <i class="fi-social-github"></i>
        </a>
      </li>
    </ul>
  </section>
</nav>
