$fi-path: "../foundation-icon-fonts";

@import "settings";
@import "local-settings";
@import "ember-foundation";
@import "../../bower_components/foundation-icon-fonts/foundation-icons";

@import "extensions";

@import "google-map";
@import "admin";

img.user-avatar, .size-24 {
  height: 24px;
  width: 24px;
}
.size-48 {
  height: 48px;
  width: 48px;
}

i.passport-icon {
  @include social-colors();
}

img.user-avatar {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #fff;
}

nav.top-bar {
  i.passport-icon {
    @include social-colors(10%);
    @include social-colors-glow();
  }
  a.button:hover i.passport-icon {
    @include social-colors(30%);
  }
}
