<div class="row">
  <ul class="attributes">
    {{#each attributes}}
      <li>
        {{name}} - {{type}}
      </li>
    {{/each}}
  </ul>
  <div>
    {{#link-to 'admin/model/records'}}records{{/link-to}}
  </div>
</div>

{{outlet}}
